<div class="squatch-actions" data-referrals="{{#if referredBy.dateReferred}}{{#if referredBy.hasCancelledReferredReward}}{{nonCancelledReferralAndRewardsListLength}}{{else}}{{math nonCancelledReferralAndRewardsListLength '+ 1'}}{{/if}}{{else}}{{nonCancelledReferralAndRewardsListLength}}{{/if}}"
  {{#unless referredBy.dateReferred}}
    {{#if referredBy.hasCancelledReferredReward}}
      data-referredBy="0"
    {{/if}}
  {{/unless}}
>
  <button data-open-panel="#squatch-panel" class="btn btn-default
    {{#unless referrals}}
      {{#unless referredBy.dateReferred}}
        {{#unless rewardsBySource.MANUAL}}
          disabled
        {{/unless}}
      {{/unless}}
    {{/unless}}
  ">
    {{#if referrals}}
      Show Details
    {{else}}
      {{#if referredBy.dateReferred}}
        Show Details
      {{else}}
        {{#if rewardsBySource.MANUAL}}
          Show Details
        {{else}}
          No Referrals Yet...
        {{/if}}
      {{/if}}
    {{/if}}
  </button>

  {{> attribution}}
</div>
