<h2 class="squatch-stats-title">
  Referral Stats
</h2>

<div class="row squatch-progress">
  <div class="col-xs-12 text-center">
    <div class="progress">
      <div class="progress-bar" style="width:{{rewardBalances.[0].totalDiscountPercent}}%"></div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="progress progress-legend">
      <div class="progress-bar" style="width:100%"></div>
    </div>
    {{#if rewardBalances.[0].totalDiscountPercent}}{{rewardBalances.[0].totalDiscountPercent}}{{else}}0{{/if}}% Active discount
  </div>
  <div class="col-xs-6">
    <div class="progress progress-legend">
      <div class="progress-bar" style="width:0%"></div>
    </div>
    {{#if rewardBalances.[0].totalDiscountPercent}}{{math '100 - ' rewardBalances.[0].totalDiscountPercent}}{{else}}100{{/if}}% Discount available
  </div>
</div>
