<h2 class="squatch-panel-title">
  Referral Stats
</h2>

<div class="squatch-progress">
  <div class="progress">
    <div class="progress-bar" style="width:{{rewardBalances.[0].totalDiscountPercent}}%"></div>
  </div>

  <div class="squatch-progress-legend">
    <div class="squatch-progress-legend-item">
      <div class="progress">
        <div class="progress-bar" style="width:100%"></div>
      </div>

      {{#if discountRewardBalance}}{{discountRewardBalance}}{{else}}0{{/if}}% Active discount
    </div>

    <div class="squatch-progress-legend-item">
      <div class="progress">
        <div class="progress-bar" style="width:0%"></div>
      </div>

      {{#if discountRewardBalance}}{{(math '100 - ' discountRewardBalance)}}{{else}}100{{/if}}% Discount available
    </div>
  </div>
</div>
