<h2 class="squatch-panel-title">
  {{i18n "referralDiscountStatus" bundle="i18n/messages"}}
</h2>

<div class="squatch-progress">
  <div class="progress">
    <div class="progress-bar" style="width:{{rewardBalances.[0].totalDiscountPercent}}%"></div>
  </div>

  <div class="squatch-progress-legend">
    <div class="squatch-progress-legend-item">
      <div class="progress">
        <div class="progress-bar" style="width:100%"></div>
      </div>
   {{#if rewardBalances.[0].totalDiscountPercent}}{{i18n "activeDiscount" rewardBalances.[0].totalDiscountPercent bundle="i18n/messages"}}{{else}}{{i18n "activeDiscount" "0" bundle="i18n/messages"}}{{/if}} 
    </div>

    <div class="squatch-progress-legend-item">
      <div class="progress">
        <div class="progress-bar" style="width:0%"></div>
      </div>

      {{#if rewardBalances.[0].totalDiscountPercent}}{{i18n "discountAvailable" (math '100 - ' rewardBalances.[0].totalDiscountPercent) bundle="i18n/messages"}}{{else}}{{i18n "discountAvailable" "100" bundle="i18n/messages"}}{{/if}} 
    </div>
  </div>
</div>
